{% extends 'kanban_logs/base.html' %}
{% load bootstrap5 %}

{% block header %}
    <h1>
        {{ topic }}
    </h1>
{% endblock header %}

{% block content %}

    

    <h2>Anotações: </h2>

    <p><a class="text-decoration-none" style="font-size:13pt;" href="{% url 'new_entry' topic.id %}">Adicione uma nova anotação</a></p>

    <ul>
        {% for entry in entries %}
            <div class="card"> 
                <div class="card-header">
                    <h3>
                        {{ entry.date_added | date:'M d, Y H:i' }}<!--O date serve para formatar a data das anotações dos tópicos-->
                        <small style="font-size:13pt;">
                            <a class="text-decoration-none" href="{% url 'edit_entry' entry.id %}">Editar anotação</a>
                        </small>
                    </h3>  
                </div>
                <div class="card-body">
                    {{ entry.text | linebreaks }}<!--O linebreaks serve para quebrar linhas para que o texto  fique de maneira compreensiva-->
                </div>
            </div>
            
        {% empty %}
            <div>
                <h3>
                    Não há nenhuma anotação
                </h3>
            </div>
        {% endfor %}
    </ul>

{% endblock content %}