{% extends 'kanban_logs/base.html' %}<!--Podemos extender para qualque app que for criado no django.-->


{% block content %}
    
    <!--Formlário login já esta pronto ele vem da importação do django LoginView no caso so foi acrescentado algumas funções a mais.-->
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Entrar</button>
        <input type="hidden" name="next" value="{% url 'index' %}"/>
    </form>

{% endblock content %}